# Vendor & Composer
vendor/
composer.lock

# PHPUnit
.phpunit.result.cache
coverage/
tests/_output/

# Logs & temp
*.log
*.cache
*.tmp

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Node (if accidentally installed)
node_modules/
npm-debug.log
yarn-error.log
dist/
build/
